body, html{
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;

}
html{
	overflow-x: hidden;
}

img{
	max-width: 100%;
}
form.woocommerce-ResetPassword.lost_reset_password
{
	border-radius: 10px;
	padding: 20px;
}

a.alergies
{
	position:relative !important;
	top:4px !important;
}

ul.woocommerce-error
{
	font-size: 16px;
	background: #fff;
	border: 3px solid #40b76c;
}
#billing_state_field
{
	display:none !important;
}
a.button.wc-forward
{
	background-color: #40b76c !important;
	font-size: 20px!important;
	text-transform: uppercase !important;
	padding: 15px 20px !important;
	border-radius: 20px !important;
	font-weight: bold !important;
	font-family: 'Lato', sans-serif !important;
}
div.popup form.wpcf7-form div.uper.green-bottom span.wpcf7-form-control-wrap.your-email input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email
{
	width:100% !important;
}

.container{
	max-width: 1200px;
	margin: auto;
}
.header{
	position:sticky;
	top: 0;
	background: #d4af37;
	z-index: 10;
	padding: 15px 0;
	width: 100%;
}
.header.ontop{
	position: sticky;
}
.header .container{
	max-width: 1680px;
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: auto 190px 1fr;
}
.header .logo {
    padding-right: 110px;
}
.header .nav {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr auto auto;
	align-items: center;
}
.header .nav ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
    align-items: center;
	text-align: center;
}
.header .nav li {
	list-style: none;
	padding: 0px;
}
.icons{
	display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    margin-left: 40px;
	min-width: 117px;
}

img.iconos-user
{
	min-height:60px !important;
	min-width:60px !important;
}
div.pull2
{
	visibility: hidden;
}

aside.sidebar
{
	display:none;
}
.wpgs-nav{
	margin-right: -10px;
	width: calc(100% + 10px);
}
.wpgs-nav .slick-slide {
    margin-left: 0px;
    margin-right: 10px;
}

#menu-item-752,#menu-item-753,#menu-item-754
{
	margin:0 20px;
}
/*.order-status {
    border-bottom:none !important;
}*/

.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a
{
	display:block !important;
	margin-bottom:5px !important;
}
/*.woocommerce .woocommerce-customer-details address {
    border: none !important;
}*/
 .woocommerce table.shop_table tfoot th {
    border-top: none !important;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents
{
	border-radius:10px !important;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard
{
	display:none;
}

table
{
	border-radius:10px !important;
}
.woocommerce table.shop_table td {
    border-top: none !important;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button
{
	display: block;
	text-align: center;
	margin-bottom: 1em;
	background-color: #40b76c !important;
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px 20px;
	border-radius: 20px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

h2.custom-title
{
		font-size: 50px;
		color: #444;
		font-weight: 900;
		font-family: 'Lato', sans-serif;
		text-transform:uppercase !important;
}
.header .nav li a{
	color: #fff;
	font-size: 20px;
}
.phone-header{
	background: #fff;
	font-weight: bold;
	padding: 10px 15px;
	visibility:hidden;
}
.phone-header a{
	color: #2f8850;
	font-size: 20px;
	line-height: 1;
	text-decoration: none;	
}
.ico-user{
	margin-left: 30px;
}
.menu-movil{
	font-size: 20px;
	color: #fff;
	display: none;
	cursor: pointer;
}
.logo-img {
    max-width: 225px !important;
}

.woocommerce table.my_account_orders .order-actions {
    text-align: center !important;
}

span.cursiva-text
{
	display: block !important;
	color: #545454 !important;
	background: none !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 16px !important;
}
p.price
{
	display: inline-block !important;
}

div.summary.entry-summary span span
{
	display: inline-block !important;
}

p.price
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	top: -20px;
	position: relative;
}

table.calorias
{
	background: #f8e7a8;
	text-align:center;
	display: inline-block !important;
	margin-right:18%;
}

i.fa.fa-plus
{
	color:#40b76c;
	font-weight: lighter;
	border: 1px solid
	#40b76c;
	border-radius: 50%;
	padding: 3px;
	font-size: 14px;
	margin: 1px;
}
table.calorias tbody tr th
{
	font-size: 11px !important;
	font-weight: 400 !important;
	color:#525252 !important;
	padding-top:12px !important;

}

table.calorias tbody tr td
{
	font-size: 18px !important;
	/*24*/
	font-weight: 300 !important;
	color:#000 !important;
	padding: 7px 12px 13px 12px;
}
form.cart
{
	margin-left:40px;
}

div.summary.entry-summary
{
	width:50% !important;
}
div.woocommerce
{
	margin-top:15%;
}
.header .nav .language {
	margin-right: 50px;
}
.header .nav .language li{
	padding: 0 0 0 13px;
}
.footer{
	background: #d9d9d9;
	padding: 22px 0 18px 20px;
	margin: 0;
}

table.wccpf_fields_table.preferences_allergies_choose_two_to_exclude-wrapper
{
	display:none;
}

.lvca-accordion.lvca-style1 .lvca-panel .lvca-panel-content {
    padding: 0 30px 30px 30px !important;
}
.lvca-accordion.lvca-style1 .lvca-panel .lvca-panel-title {
    padding: 20px 50px 10px 30px !important;
}

li.faq
{
	margin-bottom:17px !important;
}
ol
{
	list-style:none !important;
	padding-left:0 !important;
}

div.lvca-panel.lvca-active div.lvca-panel-title
{
	color:#44c373 !important;
}

.cp-modal-body {
    padding: 20px 20px !important;
}
span.subscription-details::before
{
	content:".-";
}
.gform_wrapper .top_label .gfield_label, .gform_wrapper legend.gfield_label {
    display: -moz-inline-stack;
    display: none;
    line-height: 1.3;
    clear: both;
}

div.popup input
{
	width:100% !important;
}

span.tlid-translation.translation
{
	display: grid;
	justify-content: center;
	font-size: 20px;
	text-align: center;
}

div#gform_confirmation_message_1.gform_confirmation_message_1.gform_confirmation_message{
	display: grid;
	text-align: center;
	font-size: 20px;
}

button.owl-next,button.owl-prev
{
	display:none !important;
}
.contact-footer{
	text-align: right;
	font-size: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #000;
}
.contact-footer ul{
	display: flex;
	list-style: none;
	justify-content: flex-end;
	margin: 0;
	padding-left: 10px;
}
.contact-footer ul li{
	padding-right: 40px;
}
.contact-footer ul li:last-child{
	padding-right: 0;	
}
.contact-footer ul li:nth-last-child(2){
	padding-right: 15px;
}
.contact-footer ul li a{
	text-decoration: underline;
	color: #000;
}

div.woocommerce-product-rating
{
	display: inline-block !important;
}
.copyright{
	color: #999;
	font-size: 15px;
}
.footer-menu ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-menu ul li a{
	font-size: 15px;
	color: #999999;
	text-decoration: underline;
}
.footer-menu ul li a:after{
	content: "|";
	margin: 0 7px;
	color: #999;
	font-size: 15px;
}
.footer-menu ul li:last-child a:after{
	content: none;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;	
}
.quality-text{
	font-size: 20px !important;
	line-height: 25px !important;
	max-height: 100% !important;
}

/*woocomerce*/
h1.product_title.entry-title{
	margin-bottom: 10px;
}
.pull{
	font-size: 12px;
}
.woocommerce .star-rating span::before{
	color: #f6cc27;
}
.woocommerce .woocommerce-product-rating .star-rating{
	margin-left: 30px;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 20px;
}
.slick-arrow.flaticon-right-arrow , .flaticon-back.slick-arrow{
	display: none !important;
}
.woocommerce .woocommerce-breadcrumb{
	display: none;
}
table.wccpf_fields_table td{
	width: 106%;
	display: block;
}
table.wccpf_fields_table td.wccpf_label label{
	width: 100% !important;
	display: block;
	font-size: 12px;
	color: #676767;
}
table.wccpf_fields_table td.wccpf_label{
	display: none;
}
.wcff-option-wrapper-label input{
	visibility: hidden;
}
.wcff-option-wrapper-label{
	border: 1px solid #40b76c;
	padding: 15px;
	border-radius: 2px;
	font-size: 14px;
	color: #676767;
	line-height: 1;
	display: block;
}
.wcff-option-wrapper-label.preferences-disable{
	border: 1px solid #676767;
}
ul.wccpf-field-layout-horizontal li {

    margin-right: 0 !important;
}
ul.wccpf-field-layout-horizontal{
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}

.alergies img {
    max-height: 19px !important;
    margin-bottom: 1px;
	min-width: 19px !important;
    min-height: 19px !important;
}
a.alergies
{
	min-width: 19px !important;
    min-height: 19px !important;
}
table.wccpf_fields_table {
    margin: 10px 0 !important;
}

.wccpf-fields-group-1
{
	margin-bottom: 0px;
}

.preferences_allergies_choose_two_to_exclude-wrapper .wcff-option-wrapper-label{
	padding: 5px;
	border-radius: 20px;
	font-size: 12px;
}
.preferences_allergies_choose_two_to_exclude-wrapper ul.wccpf-field-layout-horizontal{
	grid-template-columns: repeat(5,1fr);
	text-align: center;
}
table.wccpf_fields_table td {
    padding: 15px 0;
}
.wccpf_value{
	padding: 0px 0 20px !important;
}
.wccpf-field-layout-horizontal input:checked  {
	color: red;
}
.entry-summary .wcff-label-info {
    color: #545454;
	background: none;
	border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
	margin-bottom:7px;
}
.wcff-label-info span {
	color: #40b76c;
	font-size: 19px;
}
.wcff-option-wrapper-label.wcff-active{
	background: #40b76c;
	color: #ffffff;
}
.wcff-option-wrapper-label.wcff-active:before{
	content: "\f046";
	font: normal normal normal 14px/1 FontAwesome;
}
.preferences_allergies_choose_two_to_exclude-wrapper .wcff-option-wrapper-label.wcff-active:before{
	content: none;
}
.woocommerce button.button{
	background-color: #40b76c !important;
	font-size: 20px !important;
	text-transform: uppercase !important;
	padding: 15px 20px !important;
	border-radius: 20px !important;
	font-weight: bold !important;
	font-family: 'Lato', sans-serif !important;
}

input.wccpf-field{
	position:absolute !important;
}

div.wcff_pricing_rules_title_container
{
	display:none !important;
}
.woocommerce div.product p.price{
	color: #000;
	font-family: 'Lato', sans-serif;
	/*font-size: 35px;*/
	font-size:22px;
	font-weight: bold;
}
.tabs.wc-tabs{
	display: none;
}
#tab-description h2{
	display: none;
}
#tab-description div h2{
	display: block;
}

.pull {
    font-size: 17px !important;
}
.woocommerce div.product .woocommerce-product-rating {
    font-size: 17px;
}

button.slick-next.slick-arrow,button.slick-prev.slick-arrow
{
	display:none !important;
}

dd.variation-meals
{
	display:none !important;
}

.woocommerce-message,.woocommerce-info{
    background-color: #fff;
	color:#000;
    font-size: 16px;
	border: 3px solid #40b76c !important;
	border-radius:10px;
}

section.related.products
{
	display:none !important;
}

.woocommerce-message::before {
    color:#40b76c;
}
a.button.wc-forward
{
	border: 1px solid #40b76c;
	font-size: 18px;
	color:#000;
	background:#fff;
	text-transform: uppercase;
}

.woocommerce table.shop_table {
    border: 3px solid rgb(64, 183, 108);
    font-size: 16px;
	border-radius:10px !important;
}
table.shop_table.shop_table_responsive.my_account_orders.woocommerce-orders-table.woocommerce-MyAccount-subscriptions.woocommerce-orders-table--subscriptions,section.woocommerce-customer-details
{
	border-radius:10px !important;
}

a.checkout-button.button.alt.wc-forward
{
	background-color: #40b76c;	
}

.input-text.qty.text,#coupon_code
{
	border:1px solid #40b76c;
	padding:7px;
}

.ancho-maximo {
    box-shadow: 0px 5px 0px 0px #e5e5e5 !important;
}

#coupon_code
{
	border: 1px solid #40b76c;
	padding: 7px;
	width: 50%;
}
.choose{
	display: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    height: 100vh;
}


elemento {
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    height: 70vh;
}
div.woocommerce nav.woocommerce-MyAccount-navigation ul {
    list-style: none;
    border: 1px solid #44c373;
    background: #44c37342;
    padding: 6%;
}

div.woocommerce nav.woocommerce-MyAccount-navigation ul li {
    margin: 15px 0;
    border-bottom: 1px solid #44c373;
    padding-bottom: 5px;
}

ul li.woocommerce-MyAccount-navigation-link a
{
	font-size:16px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 !important;
}

.woocommerce-account .woocommerce-MyAccount-content {
    font-size: 16px;
}

.shadow-slider
{
	box-shadow: 0px 5px 0px 0px #e5e5e5 !important;
}
div.container main section article.page.type-page p
{
	margin-top:0px;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    font-size: 16px !important;
	border: 3px solid #40b76c;
}
.woocommerce form.checkout_coupon input, .woocommerce form.login input, .woocommerce form.register input {
border: 1px solid #00000038 !important;
padding: 10px !important;
}
#customer_login h2
{
	font-size:30px;
}
.order-status {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: reverse;
    line-height: 2.5em;
    color: #333 !important;
    background: none !important;
    border-radius: none !important;
    margin: 0 !important;
    cursor: inherit !important;
    white-space: wrap;
    max-width: 100%;
}

.woocommerce table.shop_table td {
	/*padding: 20px 30px !important;*/
}

#customer_details, #payment {
    font-size: 16px !important;
}

h3#order_review_heading
{
	font-size:16px;
}

@media only screen and (max-width: 1720px){
	.header{
		padding: 15px 20px;
	}

}
@media only screen and (max-width: 1350px){
	.header .logo {
	    padding-right: 50px;
	}
}
@media only screen and (max-width: 1250px){
	.container{
		padding: 0 20px;
	}	
	.header .container{
		padding: 0 ;
	}
	.header .logo {
	    padding-right: 30px;
	}
	form.cart {
    margin:0 !important;
}
	table.calorias {
    margin-right: 8%;
}
}
	
	@media only screen and (max-width: 1150px){
	span.green-buttom-heavy
		{
			width: 100%;
			display: grid;
			justify-content: center;
			justify-items: center;
		}
		
		p.price
		{
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			top: 0px;
			position: relative;
			width:100%;
			text-align:center;
		}
		div.summary.entry-summary
		{
			display: grid;
			grid-template-columns: 1fr;
			justify-content: center;
			justify-items: center;
			align-content: center;
			align-items: center;
		}
		div.wccpf-fields-group-1
		{
			margin-bottom:0;
		}
		
		table.calorias {
			margin-bottom: 20px;
		}
}
@media only screen and (max-width: 1100px){
	
	table.wccpf_fields_table {
    margin: 0px !important;
}

.wccpf-fields-group-1
{
	margin-bottom: 0px;
}
	
	table.calorias {
    margin-bottom: 20px;
    padding: 0 15px;
}
	
	p.price
	{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		top: 0px;
		position: relative;
	}
	table.calorias tbody tr td {
    padding: 7px 2px 13px 2px !important;
}
	.menu-movil{
		display: none;
	}
    .icons{
    	margin-left: 10px;
    }
    .header .nav{
    	padding-left: 15px;
        display: flex;
    }
    .header .nav li a{
    	font-size: 15px;
    }
    .icons img{
    min-width: 35px;
    }
	
	.wpml-ls-legacy-list-horizontal {
    padding: 0 !important;
}
	
	.wpml-ls-legacy-list-horizontal a {
    display: flex !important;
    padding: 0px !important;
}
	.header .nav ul{
	display: grid;
	min-width: auto;
	text-align: center;
	grid-template-columns: auto auto auto;
	}
	.header .nav li{
		padding: 0px;
        margin: 0 5px !important;
	}
	.nav.menu-active{
		display: block;
	}
	.header .container{
		display: flex;
	}
	.icons-header{
		display: flex;
		justify-content: flex-end;
		padding-right: 25px;
	}
	.header .nav .language {
	    display: flex;
	    margin-right: 0;
	    padding-bottom: 20px;
	}
	.header .nav .language li {
	    padding: 0 15px;
	}
    .logo-img {
        max-width: 150px !important;
    }
    .phone-header a{
    	font-size: 15px;
    }
}
@media only screen and (max-width: 768px){
	#theheader
	{
    max-height: 50px !important;
	min-height: 50px !important;
	height:100% !important;
	}
	button#menu-movil
	{
		margin-bottom:0px !important
	}
	.order-status {
    display: block !important;
	padding:7px !important;
}
	.woocommerce ul.order_details li {
    border-right: none;
}
	.ancho-maximo2 {
    box-shadow: 0px 5px 0px 0px #e5e5e5 !important;
	-webkit-box-shadow: 11px 21px 16px -11px #e5e5e5;
	-moz-box-shadow: 11px 21px 16px -11px #e5e5e5;
	box-shadow: 11px 21px 16px -11px #e5e5e5;
	max-width: 1200px !important;
	width: 100% !important;
	left: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin: auto !important;
	margin-bottom: 20px !important;
}
	.phone-header{
		display: none;
	}
	.footer-bottom{
		display: grid;
		grid-gap: 20px;
	}
	.footer{
		padding: 20px 0;
	}
	.header .container {
        grid-template-columns: 1fr auto;
    }
    .menu-movil {
        display: block;
    }
    .nav {
    	display: none;
    }
    .header .nav {
    	display: none;
    }
    .nav.menu-active{
    	position: absolute;
        top: 57px;
        background:
        #d4af37;
        padding: 15px;
		right: 0;
    }
    .header .nav ul{
    	grid-template-columns: auto;
    }
    .header .nav li{
    	padding: 10px 0;
    }
    .header .nav.menu-active {
        display: block;
    }
	.woocommerce div.product .product_title {
    margin-top: 15% !important;
}
	
	div.summary.entry-summary {
    width: 100% !important;
}
	
	.vc_custom_1577196366040 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    background-color: 
    #ffffff !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
	
	.vc_custom_1577146986498 {
    margin-bottom: 0px !important;
}
	
	@media only screen and (max-width: 550px)
	{
	
		
		.woocommerce .woocommerce-product-rating .star-rating {
    margin-left: 0px;
}
	}
}
@media only screen and (max-width: 500px){
	.contact-footer{
		display: grid;
		justify-content: start;
		text-align: left;
	}
	.contact-footer ul{
		display: grid;
		grid-template-columns: repeat(5,auto);
		justify-content: start;
		grid-gap: 10px;
		padding: 0;
	}
	.contact-footer ul li {
	    padding-right: 0;
	}
	.contact-footer ul li:nth-last-child(2) {
	    padding-right: 0;
	}
}
@media only screen and (max-width: 480px){
	.logo {
	    max-width: 50%;
	}
	
	.contact-footer ul {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    justify-items: center;
    grid-row-gap: 10px;
}
	
	.header .container{
		display: flex;
	}
	
	.header .nav li a {
    font-size: 15px;
}
	
	.logo-img {
    max-width: 150px !important;
}
	div.summary.entry-summary {
    width: 100% !important;
    padding: 0 45px 0 20px;
}
	ul.wccpf-field-layout-horizontal
	{
		display: grid !important;
		grid-template-columns: 1fr;
		justify-content: center;
	}
	.preferences_allergies_choose_two_to_exclude-wrapper ul.wccpf-field-layout-horizontal {
    grid-template-columns: 1fr;
    text-align: center;
}
	
	table.calorias tbody tr td {
    font-size: 15px !important;
}
	
	.woocommerce div.product .product_title {
    margin-top: 20% !important;
}
}
@media screen and (min-width:1250px)
{
	table.calorias {
    margin-right: 4% !important;
}
	
	.woocommerce div.product p.price {
    font-size: 20px;
}
}

