<span style='color: #000' title='Frames'>   192</span><span style='color: #009' title='Memory'>  18944.00 KB</span><span style='color: #900' title='Time'>    123.02 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />